
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
 body {
	font-family: 'Copperplate', serif;
	font-weight: 500;
  background-color: #e69924
	font-style: normal;
	font-size: 20px;
	color: #e69924;
  background-color: #e69924
}

a,
button {
	color: #fff;
  outline: medium none;
  font-size: 20px
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Copperplate', serif;
	color: #fff;
	font-style: normal;
	font-weight: 40;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 20px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: 500;
	line-height: 26px;
	color: #641e67;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}

.btn {
    user-select: none;
    -moz-user-select: none;
    background: #d01f3e none repeat scroll 0 0;
    border: 2px solid #e69924;
    border-radius: 50px;
    color: #d01f3e;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 16px 34px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 200px;
}

/* 2. Header */
.custom-container {
	max-width: 1380px;
}
.transparent-header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: auto;
    padding: 20px 0;
}
.menu-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.navbar-wrap {
	display: flex;
	flex-grow: 1;
}
.navbar-wrap > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.navbar-wrap > ul > li {
	display: block;
	position: relative;
}
.navbar-wrap > ul > li > a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #641e67;
    padding: 38px 23px;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
}

.header-action > ul {
	display: flex;
	align-items: center;
	margin-left: 1px;
}
.header-action > ul > li {
	position: relative;
	margin-left: 30px;
}
.header-action > ul > li:first-child {
	margin-left: 0;
}
.header-action > ul > li.header-search > a {
	padding-right: 10px;
}
.header-action > ul > li > a {
	color: #641e67;
	font-size: 14px;
}
.navbar-wrap > ul > li .submenu {
    position: absolute;
    z-index: 9;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 13px 25px -12px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.25);
    box-shadow: 0px 13px 25px -12px rgb(0 0 0 / 25%);
    display: block;
    left: 0;
    opacity: 0;
    padding: 18px 0;
    right: 0;
    top: 100%;
    visibility: hidden;
    min-width: 230px;
    border: 1px solid #283846;
    background: #1b252e;
    box-shadow: 0px 30px 70px 0px rgb(26 36 45 / 59%);
    margin: 0;
    transform: scale(1 , 0);
    transform-origin: 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-wrap > ul > li .submenu li {
	margin-left: 0;
	text-align: left;
	display: block;
}
.navbar-wrap > ul > li .submenu li a {
    padding: 10px 20px 10px 25px;
    display: block;
    font-weight: 500;
    color: #f0f0f0;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-wrap > ul > li .submenu li a::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 0;
    height: 2px;
    top: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-wrap > ul > li .submenu li:hover > a {
	padding-left: 45px;
}
.navbar-wrap > ul > li .submenu li:hover > a::before {
	width: 15px;
}
.navbar-wrap ul li:hover > .submenu {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
.header-lang form {
    display: flex;
    align-items: center;
}
.header-lang form .icon {
    font-size: 18px;
    margin-right: 6px;
}
.header-lang form select {
    background: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}
.header-lang form select option {
	color: #1a1a1e;
}
.header-action ul li.header-lang {
    padding-left: 15px;
    margin-left: 15px;
}
.header-action ul li.header-lang::before {
    content: "|";
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: .12;
}
.header-action .header-btn .btn {
    color: #fff;
    font-size: 14px;
    padding: 10px 34px;
}
.header-top-wrap {
    background: #12151e;
}
.header-top-subs > p {
    margin-bottom: 20;
    font-size: 12px;
    color: #641e67;
}
.header-top-link,
.header-top-link .quick-link,
.header-top-link .header-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-top-link {
    justify-content: flex-end;
}
.header-top-link .quick-link li {
    position: relative;
}
.header-top-link .quick-link li + li {
    padding-left: 13px;
    margin-left: 11px;
}
.header-top-link .quick-link li + li::before {
    content: "|";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #616161;
    font-size: 12px;
}
.header-top-link .quick-link li a {
    font-size: 12px;
    font-weight: 500;
    color: #c3c3c3;
    display: block;
}
.header-top-link .header-social {
    margin-left: 10px;
}
.header-top-link .header-social li {
    flex: 0 0 32px;
    width: 32px;
}
.header-top-link .header-social li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color: #c3c3c3;
    position: relative;
}
.header-top-link .header-social li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #e4d804;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}
.header-top-link .header-social li a:hover {
    background: #20212b;
}
.header-top-link .header-social li a:hover::before {
    opacity: 1;
}
.header-style-two {
    position: relative;
}
.header-style-two .menu-area {
    background: #252631;
    padding: 8px 0;
}
.header-style-two .navbar-wrap > ul {
    margin-right: 0;
}
.header-style-two::after {
    content: "";
    position: absolute;
    background-image: url(../Images/escapethefield.jpg);
    left: 0;
    right: 0;
    bottom: -20px;
    max-width: 1499px;
    height: 28px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.header-style-two .menu-area.sticky-menu {
    padding: 0 0;
}
.header-style-two .navbar-wrap > ul > li .submenu {
    border: 1px solid #323344;
    background: #252631;
}
.header-style-two .header-action .footer-search form {
    margin-left: 0;
}
.header-style-two .header-action ul li.header-lang::before {
    display: none;
}
.header-style-two .header-action ul li.header-lang {
    padding-left: 0;
    margin-left: 30px;
}

.nav-outer .mobile-nav-toggler {
	position: relative;
	float: right;
	font-size: 40px;
	line-height: 50px;
	cursor: pointer;
	display: none;
	color: #fff;
	margin-right: 30px;
	top: 15px;
}
.nav-logo img {
	width: 150px;
}
.mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right: 30px;
	max-width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	border-radius: 0px;
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
}
.mobile-menu .navbar-collapse {
	display: block !important;
}
.mobile-menu .nav-logo {
	position: relative;
	padding: 30px 25px;
	text-align: left;
}
.mobile-menu-visible {
	overflow: hidden;
}
.mobile-menu-visible .mobile-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu .navigation li.current>a:before {
	height: 100%;
}
.menu-backdrop {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	opacity: 0;
	visibility: hidden;
	background: #171d22;
}
.mobile-menu-visible .menu-backdrop {
	opacity: 0.80;
	visibility: visible;
}
.mobile-menu .menu-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: #171d22;
	padding: 0px 0px;
	z-index: 5;
	box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}
.mobile-menu-visible .mobile-menu .menu-box {
	opacity: 1;
	visibility: visible;
}
.mobile-menu .close-btn {
    position: absolute;
    right: 25px;
    top: 32px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.mobile-menu-visible .mobile-menu .close-btn {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.mobile-menu .navigation {
	position: relative;
	display: block;
	width: 100%;
	float: none;
}
.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-top: 1px solid rgb(255 255 255 / 10%);
}
.mobile-menu .navigation > li:last-child {
	border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.mobile-menu .navigation li > ul > li:first-child {
	border-top: 1px solid rgb(255 255 255 / 10%);
}
.mobile-menu .navigation li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
}
.mobile-menu .navigation li ul li > a {
	font-size: 15px;
	margin-left: 20px;
	text-transform: capitalize;
}
.mobile-menu .navigation li ul li ul li a {
    margin-left: 40px;
}
.mobile-menu .navigation li ul li ul li ul li a {
    margin-left: 60px;
}
.mobile-menu .navigation li > a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    background: #2f373e;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 5;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
	display: none;
}
.mobile-menu .social-links {
	position: relative;
	text-align: center;
	padding: 30px 25px;
}
.mobile-menu .social-links li {
	position: relative;
	display: inline-block;
	margin: 0px 10px 10px;
}
.mobile-menu .social-links li a {
	position: relative;
	line-height: 32px;
	font-size: 16px;
	color: #fff;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.menu-area .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
    color: #fff;
    display: none;
    margin-top: 7px;
}
/* 5. Breadcrumb */
.breadcrumb-bg {
    padding: 280px 0 305px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: .5;
}
.breadcrumb-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/moonfalldown.png");

}
.breadcrumb-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    background-image: url("");
    background: linear-gradient(to bottom, #e69924, transparent);
    opacity: .7;

}
.breadcrumb-content {
    text-align: center;
}
.breadcrumb-content .title {
    font-size: 1000px;
    line-height: 1.;
    margin-bottom: 8px;
}
.breadcrumb-content .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    justify-content: center;
}
.breadcrumb-content .breadcrumb li {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}

/* 6. Banner */
.banner-bg {
    padding: 20px 0 150px;
    background-position: center;
    background-size: cover;
}
.banner-content .sub-title {
	font-size: 26px;
	margin-bottom: 10px;
}
.banner-content .title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 29px;
}
.banner-meta {
    margin-bottom: 35px;
}
.banner-meta ul {
    display: flex;
    flex-wrap: wrap;
}
.banner-meta ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
	margin-right: 0px;
}
.banner-meta ul li:last-child {
	margin-right: 0;
}
.banner-meta ul li.quality > span {
    font-size: 11px;
    text-transform: uppercase;
    color: #21232b;
    background: #fff;
    font-weight: 700;
    padding: 7px 11px;
    line-height: 1;
}
.banner-meta ul li.quality > span:last-child {
    background: transparent;
    color: #fff;
    margin-left: 9px;
    border: 2px solid #fff;
    padding: 5px 10px;
}
.banner-meta ul li.category > a {
    font-size: 15px;
    font-weight: 500;
    color: #e3dfdf;
}
.banner-meta ul li.category > a + a {
    margin-left: 5px;
}
.banner-meta ul li.release-time > span {
    font-size: 14px;
    font-weight: 500;
    color: #e3dfdf;
}
.banner-meta ul li.release-time > span + span {
	margin-left: 15px;
}
.banner-meta ul li.release-time > span > i {
	font-size: 12px;
	margin-right: 5px;
}
.slider-bg {
    background-position: top center;
    background-size: cover;
    padding: 135px 0 120px;
}
.slider-img > img {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 1px 13px 0px ;
    max-width: 100%;
    margin-right: -15px;
}

/* 7. Up-coming */
.ucm-bg {
    padding: 40px 0 40px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.ucm-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4f1854;
    opacity: 1;
}

.section-title .title {
  margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}
.section-title .subtitle {
    margin-top: 250px;
    margin-bottom: 100px;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}
.ucm-nav-wrap .nav-tabs {
	border: none;
}

.ucm-nav-wrap .nav-tabs li {
    margin-right: 12px;
	margin-top: 12px;
}
.ucm-nav-wrap .nav-tabs li:last-child {
	margin-right: 0;
}
.ucm-nav-wrap .nav-tabs .nav-link.active,
.movie-bg .tr-movie-menu-active button.active\ {
	color: #fff;
	border-color: #fff;
}

.movie-page-meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.movie-filter-form {
    margin: 10px 0 0px 5px;
}
.movie-filter-form select {
    padding: 11px 35px 11px 25px;
    outline: none;
    min-height: 44px;
    box-shadow: none;

}
.custom-select:focus {
    border-color: #2d303d;
    box-shadow: none;
}
.movie-poster img {
    max-width: 90%;
    border-radius: 20px;
}
.movie-poster {
    margin-bottom: 30px;
    position: relative;
}
.movie-content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.movie-content .top .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    flex-grow: 1;
}
.movie-content .top .date {
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}
.movie-content .top .subdate {
    font-size: 20px;
    font-weight: 800;
    color: #641e67;
    margin-right: -15px;
    margin-bottom: 0px;
  }

.movie-content .bottom ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.movie-content .bottom ul li .quality {
    border: 2px solid #fff;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 500;
	font-size: 11px;
    text-transform: uppercase;
}
.movie-content .bottom ul li {
	display: flex;
	align-items: center;
}
.movie-content .bottom ul li .rating {
	margin-left: 15px;
}

.movie-content .bottom ul li > span i {
	margin-right: 50px;
}
.movie-content {
    padding-right: 50px;
}

/* 19. Footer */
.footer-top-wrap {
    background-image: ;
    background-position: center;
    background-size: cover;
    padding: 0px 0 40px;
}
.footer-menu nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-menu nav .navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-menu nav .navigation li {
  color: #641e67;
  font-size: 15px;
    margin-right: 30px;
}
.footer-menu nav .navigation li:last-child {
  color: #641e67;
    margin-right: 0;
}
.footer-menu nav .navigation li a {
    display: block;
    text-transform: uppercase;
    color: #641e67;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
    line-height: 1;
}

.footer-search form input::placeholder {
    color: #656870;
    font-weight: 500;
    font-size: 12px;
}

.footer-menu-wrap {
    position: relative;
    padding-bottom: 20px;
    padding-top: 50px
}
.footer-menu-wrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: rgb(18, 21, 30);
    box-shadow: 0px 3px 0px 0px rgba(143, 143, 143, 0.14);
}
.quick-link-list ul,
.footer-social ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.quick-link-list ul li {
    margin-right: 50px;
    margin: 5px 50px 5px 0px;
}
.quick-link-list ul li:last-child {
    margin-right: 0px;
}
.quick-link-list ul li a {
    color: #641e67;
    display: block;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.footer-social ul {
    justify-content: flex-end;
}
.footer-social ul li {
    margin-right: 20px;
}
.footer-social ul li:last-child {
    margin-right: 0;
}
.footer-social ul li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0);
    background-color: #641e67;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    color: #fff;
}
.footer-quick-link-wrap {
    padding-top: 40px;
    padding-bottom: 0px
}
